:root {
  --mainColor: #404258;
  --secondaryColor: #474E68;

  --borderColor: #164d56;

  --mainText: #fff;
  --secondaryText: #eeeeee;


  --previewBg: #557153;
  --previewShadow: #50577A;

  --buttonColor: #17a2b8;
}
